.button {  
    font-size: 20px;
    color: #222;
    background-color: #FFF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.button:active {
    box-shadow: none;
}

.blue {
    background-color: rgb(149, 223, 255);
}